body {
  font-family: "Cabin", "Lobster", sans-serif;
}

/* Estilos genericos */
.centrado {
  text-align: center;
}
/*NavBar*/
.nav-brand {
  font-family: "Lobster";
}

.navbar .ancho .nav-item a {
  color: #ffffff;
}

hr {
  color: #000000;
  opacity: 100%;
}

.btn-principal {
  border: 1px solid #dddddd;
  background-color: #ffffff;
}
/*Carousel*/
.carousel .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
.carousel .carousel-indicators .active {
  background-color: #373a3c;
}

/* Newsletter */
.newsletter {
  background-color: #dc3545;
  color: #ffffff;
}

.newsletter h2 {
  font-weight: bold;
}

/* Footer */
footer {
  background-color: #373a3c;
  color: #ffffff;
  font-family: "Lobster";
}

footer p {
  margin: 0;
}

/*Querie 320px */
@media screen and (max-width: 320px) {
  hr {
    width: 246px;
    margin: 13px auto 14px;
  }

  /*Ancho definido*/
  .container .ancho {
    width: 246px;
    margin: 13px auto 14px;
  }

  /*Nav Bar*/
  .nav-brand {
    font-size: 46px;
    margin-right: 37px;
    padding: 0;
  }

  /*Seccion Principal*/
  .img-principal {
    max-height: 196px;
    max-width: 246px;
  }

  .receta-principal {
    font-size: 25px;
    line-height: 30px;
  }

  .detalles-principal {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 21px;
  }

  .btn-principal {
    text-align: left;
    font-size: 13px;
  }

  .card {
    text-align: center;
  }

  /* Carousel */
  .carousel-principal {
    display: none;
  }

  /*Seccion Receta */
  .ingredientes,
  .masa,
  .salsa {
    margin-bottom: 40px;
    line-height: 30px;
    font-size: 16px;
  }
  .container ul {
    list-style-type: none;
    padding-left: 0;
    letter-spacing: 1px;
  }

  ol li {
    margin-bottom: 10px;
  }

  ol li:last-child {
    margin-bottom: 36px;
  }
  /* Clase para elimar BR entre Carousel y Receta */
  .yeta {
    display: none;
  }

  /* Recetas Relacionadas */
  .recetas-relacionadas {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 38px;
  }

  .card h3 {
    text-align: left;
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 18px;
  }

  .card p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 32px;
    text-align: left;
  }

  .card-receta-adicional {
    margin-bottom: 20px;
  }

  /* Newsletter */
  .newsletter h2 {
    font-size: 30px;
    line-height: 37px;
    padding-top: 95px;
  }
  .newsletter p {
    font-size: 20px;
    line-height: 25px;
    margin-top: 22px;
  }
  .newsletter span {
    font-family: "Lobster";
  }

  .newsletter button {
    font-size: 16px;
    border: 1px solid #dddddd;
    padding: 11px 90px 10px 83px;
    margin-bottom: 105px;
  }

  /* Footer */
  .footer-brand {
    padding: 41px 91px 34px 91px;
    font-size: 37px;
    line-height: 46px;
  }
}

@media screen and (min-width: 1279px) {
  /* Ancho definido */
  .ancho {
    width: 980px;
    margin: auto;
  }
  /* Nav Bar */
  .navbar {
    margin-bottom: 24px;
  }

  .nav-brand {
    font-size: 37px;
    line-height: 46px;
  }

  /* Seccion Principal */
  .yeta-top {
    display: none;
  }
  .img-principal {
    max-height: 384px;
    max-width: 482px;
  }
  .card-principal {
    margin-bottom: 68px;
    max-height: 384px;
    padding: 0;
  }

  .receta-principal {
    font-size: 40px;
    line-height: 49px;
    margin-bottom: 7px;
    margin-top: 34px;
  }

  .detalles-principal {
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 24px;
  }

  .card-principal .btn-principal:first-child {
    margin-right: 24px;
  }

  .btn-principal {
    font-size: 16px;
  }

  /* Carousel */
  .carousel-principal {
    margin-bottom: 15px;
  }

  .carousel-principal ol {
    max-height: 13px;
  }

  .carousel img {
    min-width: 233px;
    margin-left: 16px;
    margin-bottom: 24px;
  }
  hr {
    max-width: 980px;
  }
  /* Seccion Receta */
  .receta-txt-size {
    letter-spacing: 0.6px;
    font-size: 20px;
    line-height: 30px;
  }

  .ingredientes,
  .masa,
  .salsa {
    margin-bottom: 20px;
  }

  .preparacion {
    margin-bottom: 68px;
  }

  .container ul {
    list-style-type: none;
    padding-left: 0;
    color: #373a3c;
  }

  ol li:last-child {
    margin-bottom: 93px;
  }

  /* Recetas Relacionadas */
  .recetas-relacionadas {
    font-size: 40px;
    line-height: 49px;
    margin-bottom: 50px;
  }

  .card h3 {
    text-align: left;
    font-size: 23px;
    line-height: 28px;
    margin-bottom: 22px;
  }
  .card p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
    text-align: left;
  }

  .card-receta-adicional {
    margin-bottom: 79px;
  }

  /* Newsletter */
  .newsletter h2 {
    font-size: 40px;
    line-height: 49px;
    padding-top: 150px;
  }

  .newsletter p {
    font-size: 30px;
    line-height: 38px;
    margin-top: 7px;
  }
  .newsletter span {
    font-family: "Lobster";
  }

  .newsletter button {
    font-size: 16px;
    border: 1px solid #dddddd;
    padding: 11px 90px 10px 83px;
    margin-bottom: 105px;
  }

  /* Footer */
  .footer-brand {
    padding: 41px 571px 38px 571px;
    font-size: 37px;
    line-height: 46px;
  }
}
/*Estilo para JS*/
.dblRojo {
  color: red;
}
